/* Navigation Tab Styles */
.course-tab {
  position: relative;
  padding-bottom: 10px;
}
.course-tab.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #003049; /* Primary Brand Color */
  border-radius: 3px 3px 0 0;
}